@page "/Clientes/Informacion"
@model DetailsModel

@{
    var image = "";
    var name = "";
    String roleAdmin = "";
    if (Model.Input.DataCustomer != null)
    {
        image = "data:image/jpg;base64," + Convert.ToBase64String(Model.Input.DataCustomer.Imagen,
            0, Model.Input.DataCustomer.Imagen.Length);
        name = Model.Input.DataCustomer.Nombre + " " + Model.Input.DataCustomer.Apellidos;
        roleAdmin = "Administrador";

    <div class="container p-4" style="min-width: 320px">
        <h1>
            <a class="btn btn-primary text-white" title="Atr&aacute;s" asp-area="Customers" asp-controller="Customers" asp-action="Customers">Atr&aacute;s</a>
            @name
        </h1>

        <div class="row">
            <div class="col" style="min-width: 300px">
                <div class="card">

                    <div class="card-header ">
                        <img class='imageUserDetails' src="@image" />
                    </div>
                    <div class="card-body">
                        <h2>Informaci&oacute;n</h2>

                        <div class="row">
                            <div class="col-sm" style="min-width: 250px">
                                <table class="tableCursos">
                                    <tbody>
                                        <tr>
                                        </tr>
                                        <tr>
                                            <th>
                                                Identificaci&oacute;n
                                            </th>
                                        </tr>
                                        <tr>
                                            <td>
                                                <p>@Model.Input.DataCustomer.Cedula</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>
                                                Nombre
                                            </th>
                                        </tr>
                                        <tr>
                                            <td>
                                                <p>@name</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>
                                                Edad
                                            </th>
                                        </tr>
                                        <tr>
                                            <td>
                                                <p>@Model.Input.DataCustomer.Edad</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>
                                                Tel&eacute;fono de cont&aacute;cto
                                            </th>
                                        </tr>
                                        <tr>
                                            <td>
                                                <p>@Model.Input.DataCustomer.Telefono</p>
                                            </td>
                                        </tr>
                                        @if (Model.Input.DataCustomer.Correo != null)
                                        {
                                            <tr>
                                                <th>
                                                    Correo electr&oacute;nico
                                                </th>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <p>@Model.Input.DataCustomer.Correo</p>
                                                </td>
                                            </tr>
                                        }
                                           
                                        </tbody>
                                </table>

                            </div>
                            <div class="col-sm" style="min-width: 250px">
                                <table class="tableCursos">
                                    <tbody>
                                        <tr>
                                            <th>
                                                Fecha de inscripción
                                            </th>
                                        </tr>
                                        <tr>
                                            <td>
                                                <p>@Model.Input.DataCustomer.FechaInscripcion</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>
                                                Empleado a cargo
                                            </th>
                                        </tr>
                                        <tr>
                                            <td>
                                                <p>@Model.Input.DataCustomer.EmpleadoNombre</p>
                                            </td>
                                        </tr>


                                        <tr>
                                            <th>
                                                Membres&iacute;a asociada
                                            </th>
                                        </tr>
                                        <tr>
                                            <td>
                                                <p>@Model.Input.DataCustomer.Membresia</p>
                                            </td>
                                        </tr>

                                        @if (Model.Input.DataCustomer.Direccion!=null)
                                        { 
                                            <tr>
                                                <th>
                                                    Direcci&oacute;n
                                                </th>
                                            </tr>
                                        <tr>
                                            <td>
                                                <p>@Model.Input.DataCustomer.Direccion</p>
                                            </td>
                                        </tr>
                                        }


                                    </tbody>
                                </table>

                            </div>
                            <div class="col-sm" style="min-width: 250px">
                                <table class="tableCursos">
                                    <tbody>

                                        <tr>
                                            <th>
                                                Antecedentes
                                            </th>
                                        </tr>


                                        <tr>

                                            <td>
                                                <div class="row" style="margin-left: 0px;">

                                                    @if (Model.Input.DataCustomer.Alcohol)
                                                    {
                                                        <p class="text-success">&#10003;</p>
                                                    }
                                                    else
                                                    {
                                                        <p class="text-danger">&#215;</p>
                                                    }
                                                    &nbsp;
                                                    <p>Alcohol</p>

                                                    &nbsp;
                                                    &nbsp;
                                                    &nbsp;

                                                    @if (Model.Input.DataCustomer.Asma)
                                                    {
                                                        <p class="text-success">&#10003;</p>
                                                    }
                                                    else
                                                    {
                                                        <p class="text-danger">&#215;</p>
                                                    }
                                                    &nbsp;
                                                    <p>Asma</p>

                                                    &nbsp;
                                                    &nbsp;
                                                    &nbsp;

                                                    @if (Model.Input.DataCustomer.Obesidad)
                                                    {
                                                        <p class="text-success">&#10003;</p>
                                                    }
                                                    else
                                                    {
                                                        <p class="text-danger">
                                                            &#215;
                                                        </p>
                                                    }
                                                    &nbsp;
                                                    <p>Obesidad</p>
                                                </div>
                                            </td>

                                        </tr>



                                        <tr>
                                            <td>
                                                <div class="row" style="margin-left: 0px;">
                                                    @if (Model.Input.DataCustomer.Fuma)
                                                    {
                                                        <p class="text-success">&#10003;</p>
                                                    }
                                                    else
                                                    {
                                                        <p class="text-danger">&#215;</p>
                                                    }
                                                    &nbsp;
                                                    <p>Fuma</p>

                                                    &nbsp;
                                                    &nbsp;
                                                    &nbsp;

                                                    @if (Model.Input.DataCustomer.HTA)
                                                    {
                                                        <p class="text-success">&#10003;</p>
                                                    }
                                                    else
                                                    {
                                                        <p class="text-danger">&#215;</p>
                                                    }
                                                    &nbsp;
                                                    <p>HTA</p>

                                                    &nbsp;
                                                    &nbsp;
                                                    &nbsp;

                                                    @if (Model.Input.DataCustomer.Fx)
                                                    {
                                                        <p class="text-success">&#10003;</p>
                                                    }
                                                    else
                                                    {
                                                        <p class="text-danger">
                                                            &#215;
                                                        </p>
                                                    }
                                                    &nbsp;
                                                    <p>Fx</p>
                                                    &nbsp;
                                                    &nbsp;
                                                    &nbsp;

                                                    @if (Model.Input.DataCustomer.DM)
                                                    {
                                                        <p class="text-success">&#10003;</p>
                                                    }
                                                    else
                                                    {
                                                        <p class="text-danger">
                                                            &#215;
                                                        </p>
                                                    }
                                                    &nbsp;
                                                    <p>DM</p>

                                                </div>
                                            </td>

                                        </tr>


                                        @*<tr>
                                            <th>
                                                Lesiones
                                            </th>
                                        </tr>*@

                                    </tbody>
                                </table>

                            </div>
                        </div>
                            <div class="col text-right">

                                <form asp-area="Customers" asp-page="/Account/Register" method="post">
                                    @{
                                        var dataCustomer = JsonConvert.SerializeObject(Model.Input.DataCustomer);
                                    }
                                    <input type="hidden" name="accCliente" id="accCliente" value="false" />
                                    <input type="hidden" name="DataCustomer" value="@dataCustomer" />
                                    @if (User.IsInRole(roleAdmin))
                                    {
                                        <input type="submit"  title="Eliminar" name="accion" value="Eliminar" class="btn btn-danger text-white" onclick="javascript: confirmar('Eliminar','Cliente')">
                                    }
                                    <input type="submit"  title="Editar" name="accion" value="  Editar  " class="btn btn-success ">
                                </form>
                            </div>
                        </div>
                </div>
            </div>

        </div>
    </div>
    }
    

}