@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@inject GymTool.Data.ApplicationDbContext Context


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="HandheldFriendly" content="true" />
    <title>@ViewData["Title"] GymTool </title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/Style.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothnes/jquery-ui.css"></script>

</head>

@{
    var name = "";
    var correo = "";
    var image = "/images/images/default.png";
    var calendarimage = "/images/system/agenda.png";
    var imgtool = "../images/system/gymtool.png";
    var imgicon = "../images/system/toolicono.png";
    var iconogymtool = "../images/system/gymtoolicono.png";
    String roleAdmin = "Administrador";
    if (SignInManager.IsSignedIn(User))
    {


        var id = UserManager.GetUserId(User);
        var users = Context.Users.Where(u => u.Id.Equals(id)).ToList();
        var user = Context.TUsers.Where(u => u.UsuarioId.Equals(id)).ToList();
        correo = users[0].Email;

        if (user.Count.Equals(0))
        {
            name = "Usuario";
        }
        else
        {
            if (User.IsInRole(roleAdmin))
            {

                name = user[0].Nombre + ' ' + user[0].Apellidos;
            }
            else
            {
                name = "Instructor";
            }
        }
    }

}
<body>
    <div class="wrapper d-flex align-items-stretch">

        @if (SignInManager.IsSignedIn(User))
        {
            <nav id="sidebar">
                <div class="p-3 pt-3">
                    @*<ul class="list-unstyled components mb-5">
                        <li class="">
                            <a href="#" class="img logo rounded-circle mb-5" style="background-image: url(@image); "></a>
                        </li>
                    </ul>*@

                    <ul class="list-unstyled components mb-5">
                        <li class="">
                            <p title="@name" class="perfil"> @name</p>
                            <p title="@correo" class="perfil"> @correo</p>
                            <a> </a>
                        </li>


                        <li class="">
                            <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Clientes</a>
                            <ul class="collapse list-unstyled" id="homeSubmenu">
                                <li>
                                    <a asp-area="Customers" asp-controller="Customers" asp-action="Customers">Cliente</a>
                                </li>
                                <li>
                                    <a href="#">Medici&oacute;n</a>
                                </li>
                                <li>
                                    <a href="#">Pago</a>
                                </li>
                            </ul>
                        </li>


                        <li class="">
                            <a asp-area="Memberships" asp-controller="Memberships" asp-action="Memberships">Membres&iacute;a</a>
                        </li>
                        @if (User.IsInRole(roleAdmin))
                        {
                            <li class="">
                                <a asp-area="Users" asp-controller="Users" asp-action="Users">Personal</a>
                            </li>
                        }

                    </ul>

                </div>
            </nav>
        }

       
    <div id="content">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            @if (SignInManager.IsSignedIn(User))
            {
                <div class="collapse navbar-collapse" id="navbarSupportedContent">

                    <div class="bg-img-light-header">
                        <img src="@imgicon">
                        <img style="height: 40px; width: 100px;" src="@imgtool">
                    </div>
                </div>

            }
        <div class="container-fluid">
            @if (SignInManager.IsSignedIn(User))
            {



                <button title="Men&uacute;" type="button" id="sidebarCollapse" class="btn btn-primary">
                    <i class="fa fa-bars"></i> Men&uacute;
                    <span class="sr-only">Toggle Menu</span>
                </button>

                @*<button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fa fa-bars"></i>
            </button>*@

            }

            &nbsp;

            @if (SignInManager.IsSignedIn(User))
            {
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-white" style="font-family: sans-serif; font-size: large " title="Agenda" asp-area="Principal" asp-controller="Principal" asp-action="Principal">Agenda</a>
                    </li>
                </ul>
                <partial name="_LoginPartial" />

            }
            else
            {
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <partial name="_LoginPartial" />
                </div>
            }


        </div>

        </nav>

        <div class="" >
            @RenderBody()
        </div>

    </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    @*<script src="~/js/popper.js" asp-append-version="true"></script>*@
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/ModalAlert.js" asp-append-version="true"></script>

    <script src="~/js/Uploadpicture.js" asp-append-version="true"></script>
    <script src="~/js/Principal.js" asp-append-version="true"></script>
    <script src="~/js/User.js" asp-append-version="true"></script>
    <script src="~/js/Customers.js" asp-append-version="true"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @*<script src="~/js/jquery.min.js" asp-append-version="true"></script>*@
    @*<script src="~/js/bootstrap.min.js" asp-append-version="true"></script>*@

    @*<script defer src="https://static.cloudflareinsights.com/beacon.min.js" data-cf-beacon='{"rayId":"65e442422b0421c7","token":"cd0b4b3a733644fc843ef0b185f98241","version":"2021.5.2","si":10}'></script>*@


    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
